<div class="wishlist-manager">
    {% block sidebar %}
		<div class="wishlist-sidebar">

		</div>
    {% endblock %}

    {% block content %}
		{% block title %}
		    <h4 class="wishlist-title">{{ title }}</h4>
		{% endblock %}

		{% block items %}

		{% endblock %}
    {% endblock %}
</div>