<div class="wishlist-manager">
    <div class="wishlist-sidebar">
        {% block sidebar %}{% endblock %}
    </div>
    
    <div class="wishlist-content">
        {% block content %}{% endblock %}
    </div>
</div>