{% extends 'commerce_wishlist/base.html.twig' %}

{% block content %}
    <h4 class="wishlist-title">{{ list.name|e }}</h4>

    {% if items is empty %}
        <p>{{ lex('commerce_wishlist.frontend.empty_list') }}</p>
    {% endif %}

    {% for item in items %}
        {% include 'commerce_wishlist/partial/item.html.twig' %}
    {% endfor %}
{% endblock %}