{% extends 'commerce_wishlist/base.html.twig' %}

{% block content %}
    <h4 class="wishlist-title">{{ list.name|e }}
        {% if hasEditPermission %}
            <small>
                <button id="wishlist-modal-open" class="wishlist-modal-open">(Edit)</button>
            </small>
        {% endif %}
    </h4>

    <p class="wishlist-list-description">{{ list.description|e }}</p>

    {% if hasEditPermission %}
        {% include 'commerce_wishlist/partial/edit-list.html.twig' %}
    {% endif %}

    {% if items is empty %}
        <p>{{ lex('commerce_wishlist.frontend.empty_list') }}</p>
    {% endif %}

    {% for item in items %}
        {% include 'commerce_wishlist/partial/item.html.twig' %}
    {% endfor %}
{% endblock %}