{% extends 'commerce_wishlist/base.html.twig' %}

{% block sidebar %}
    <p>Once you add a list, it will show up here.</p>
{% endblock %}

{% block content %}
    {% include 'commerce_wishlist/partial/add-list.html.twig' %}
{% endblock %}