/* Global */
.wishlist-manager *, .wishlist-manager *:before, .wishlist-manager *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Dialog modal styles */
.wishlist-modal-open {
    color: #666666;
    font-size: 1rem;
}

.wishlist-list-edit-dialog {
    display: none;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    animation: fadeIn 300ms ease-in-out;
    padding: 100px 1rem 0 1rem;
    z-index:11;
}

.wishlist-list-edit-dialog > div {
    background: #FFF;
    margin: auto;
    width: 100%;
    max-width: 600px;
    position: relative;
    box-shadow: #444 1px 1px 3rem;
    animation: dialogPush 300ms ease-in-out;
    padding: 1rem;
}

.wishlist-list-edit-dialog h4:first-of-type {
    margin:-1rem -1rem 0;
    background: #333;
    color: #FFF;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.wishlist-list-edit-dialog footer {
    margin: 0 -1rem -1rem -1rem;
    background: #f7f7f7;
    border-top: solid 1px #e8e8e8;
    padding: 0.5rem 1rem;
    overflow: hidden;
}

.wishlist-list-edit-dialog footer button {
    padding: 0.8rem;
    border-radius:0.25rem;
}

.wishlist-list-edit-dialog .wishlist-list-delete {
    float: left;
    border: solid 1px #dedede;
}

.wishlist-list-edit-dialog .wishlist-list-save {
    float:right;
    background: #cbf1d2;
}

.wishlist-list-dialog-edit-close {
    float: right;
    cursor: pointer;
}

.wishlist-list-edit-dialog.active {
    display: block;
}

/* Items styles */
.wishlist-item-name small {
    color: #666666;
    font-size: 0.9rem;
    display: block;
    line-height: 1;
}

.wishlist-item-row-inner {
    display: flex;
    align-items: center;
}

.wishlist-item-image {
    flex: 25% 0 0;
    padding: 0.5rem;
    align-self: flex-start;
}

.wishlist-item-desc {
    flex: 75% 0 0;
    padding: 0.5rem;
}

.wishlist-item-delete-wrap {
    float: right;
}

.wishlist-item-remove {
    padding: 0.5rem;
    border: solid 1px #e4e4e4;
}

.wishlist-item-add-note {
    background: #efefef;
    padding: 0.5rem;
    border-radius: 3px;
}

.wishlist-item-edit-wrap {
    display: none;
    animation: fadeIn 500ms;
}

.wishlist-item-edit-wrap.active {
    display: block;
}

/* Media queries */
@media screen and (max-width: 767px) {
    .wishlist-item-row-inner {
        flex-flow:wrap;
    }

    .wishlist-item-image, .wishlist-item-desc {
        flex: 0 0 100%;
    }
}

/* Animations */
@keyframes dialogPush {
    from {
        margin-top: -400px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}